export(evaluate_marker_recovery)
export(evaluate_fibrodynmix_annotation)
export(evaluate_posterior_intervals)
export(evaluate_state_weights)
export(evaluate_downstream_classification)
export(evaluate_transition_detection)
export(evaluate_dominant_state_coverage)
export(add_fibrodynmix_to_seurat)
export(compute_fpi)
export(compute_state_cost)
export(calibrate_posterior_interval_scale)
export(estimate_transition_flow)
export(fibrodynmix_nb_deviance)
export(fibrodynmix_nb_loglik)
export(fibrodynmix_nb_objective)
export(fit_fibrodynmix_nb)
export(fit_fibrodynmix_initializer)
export(fit_fibrodynmix_prepared)
export(fit_fibrodynmix_seurat)
export(fit_fibrodynmix_transfer)
export(fit_fibrodynmix_vi)
export(fit_scvi_latent_baseline)
export(fit_topic_nmf_baseline)
export(get_fibrodynmix_markers)
export(bootstrap_fibrodynmix)
export(prepare_fibrodynmix_data)
export(prepare_fibrodynmix_seurat)
export(plot_benchmark_rankings)
export(plot_cell_state_heatmap)
export(plot_fibroblast_annotation)
export(plot_fibroblast_marker_dot)
export(plot_fpi_distribution)
export(plot_pathway_enrichment)
export(plot_marker_support)
export(plot_cluster_state_agreement)
export(plot_purity_qc)
export(plot_state_composition)
export(plot_transfer_diagnostics)
export(plot_transition_flow)
export(run_cross_cohort_transfer_benchmark)
export(run_fibrodynmix_seurat_workflow)
export(run_marker_scoring_benchmark)
export(run_simulation_benchmark)
export(run_study_effect_sensitivity)
export(score_marker_baseline)
export(select_fibrodynmix_nb_model)
export(select_study_effect_penalty)
export(summarize_bootstrap_uncertainty)
export(simulate_fibrodynmix)
export(summarize_benchmark_results)
export(summarize_optimizer_diagnostics)
importFrom(stats,cor)
importFrom(stats,dnbinom)
importFrom(stats,rgamma)
importFrom(stats,rlnorm)
importFrom(stats,rnorm)
importFrom(stats,setNames)
importFrom(utils,modifyList)
importFrom(utils,tail)
